<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">
	<Properties>
		<Property name="log-path">/tmp/file_processor/logs/</Property>
	</Properties>
	<Appenders>

		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>

		<RollingFile name="error-log" fileName="${log-path}/error.log"
			filePattern="${log-path}/ServerDemo-error-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{36} [%M] -
					%msg %xThrowable{separator(|)}%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<!-- <appender-ref ref="trace-log" level="debug"/> 
			<appender-ref ref="error-log" level="debug" />
   -->
			<appender-ref ref="console-log" level="debug" />

		</Root>
	</Loggers>
</Configuration>
